section.slider_blocks{
	div.blocks_wrap{
		display: grid;
		grid-gap: 25px;
		grid-template-rows: 3fr 1fr;
		width: calc(37% - 40px);
		margin-left: 40px;
		@media(max-width: 1600px){
			grid-gap: 20px;
			width: calc(37% - 30px);
			margin-left: 30px;
		}
		@media(max-width: 1400px){
			grid-gap: 15px;
			width: calc(37% - 20px);
			margin-left: 20px;
		}
		@media(max-width: 1200px){
			width: calc(45% - 20px);
		}
		@media(max-width: 992px){
			width: 100%;
			margin-left: 0;
		}
		div.blocks_listing{
			display: grid;
			grid-gap: 25px;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 1fr;
			@media(max-width: 1600px){
				grid-gap: 20px;
			}
			@media(max-width: 1400px){
				grid-gap: 15px;
			}
			@media(max-width: 992px){
				grid-auto-rows: 150px;
			}
			@media(max-width: 576px){
				grid-template-columns: 1fr;
			}
			div.block_item{
				background: linear-gradient(45deg, $cdarkblue 0%, $clightblue 100%);
				border-radius: 5px;
				a{
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100%;
					padding: 0 10%;
					color: $cwhite;
					font-family: $ffmain;
					text-align: center;
					span{
						@extend .flex;
						width: 51px;
						height: 51px;
						margin-bottom: 10%;
						z-index: 2;
					}
					strong{
						font-size: 12px;
						font-weight: 700;
						z-index: 2;
					}
					&:after{
						display: block;
						position: absolute;
						content: "";
						width: 100%;
						height: 100%;
						left: 0;
						top: 0;
						background-color: $ccorp;
						border-radius: 5px;
						transition: all 0.4s ease;
						opacity: 0;
					}
					&:hover{
						&:after{
							opacity: 1;
						}
					}
				}
			}
		}
		div.wide_block{
			border-radius: 5px;
			overflow: hidden;
			img.block_bak{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
			}
			a{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				color: $cwhite;
				font-family: $ffmain;
				text-align: center;
				span{
					@extend .flex;
					width: 35px;
					height: 35px;
					margin-bottom: 10px;
					z-index: 2;
				}
				strong{
					font-weight: 700;
					z-index: 2;
				}
			}
			&:hover{
				img.block_bak{
					transform: scale(1.05);
				}
			}
		}
	}
}