div.breadcrumbs{
	display: flex;
    justify-content: center;
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        font-size: 12px;
        li{
            display: flex;
            align-items: center;
            margin: 2px 10px 2px 0;
            color: #fff;
            a{
                margin-right: 10px;
                color: rgba(255,255,255,.5);
            }
            a:hover{
                color: #fff;
            }
            &:first-child::after{
                display: block;
                color: rgba(255,255,255,.5);
                content: "/";
    }   
        }
    }
}
