div.content.wide{
	width: 65%;
    padding: 50px 30px 50px 15%;
    @media(max-width: 1600px){
    	padding-left: 10%;
    }
    @media(max-width: 1400px){
        padding: 40px 20px 40px 7%;
    }
    @media(max-width: 1200px){
        width: auto;
        padding: 30px 20px;
    }
    @media(max-width: 992px){
        padding: 30px 15px;
    }
    div.contact_wrap{
    	div.contact_addresses{
    		display: grid;
            grid-gap: 20px;
            grid-template-columns: 1fr 2fr;
            margin-bottom: 30px;
    		address{
                h3{
                	margin-bottom: 15px;
                    font-size: 18px;
                    font-family: gpbMtavruli;
                    font-weight: 700;
                }
                ul{
                	margin-bottom: 20px;
                	li{
                		display: flex;
                        margin-bottom: 10px;
                        em{
                        	width: 25px;
                            margin-top: 3px;
                            margin-right: 10px;
                            color: #026aac;
                            font-size: 15px;
                            text-align: center;
                        }
                        span{
                        	flex: 1;
                        	a{
                        		color: #353535;
                        	}
                        }
                	}
                	&:last-child{
                		margin-bottom: 0;
                	}
                }
    		}
    		div.branches{
    			ul{
    				column-count: 3;
                    @media(max-width: 768px){
                    	column-count: 2;
                    }
                    li{
                    	break-inside: avoid;
                        margin-bottom: 30px;
                        strong{
                        	margin-bottom: 5px;
                            font-family: gpbMtavruli;
                            font-weight: 700;
                        }
                        em{
                        	margin-bottom: 3px;
                            font-style: normal;
                        }
                        span{
                        	color: #a3a3a3;
                        	a{
                        		color: #a3a3a3;
                        	}
                        }
                    }
    			}
    		}
    	}
    	div.contact_form{
    		margin-bottom: 30px;
            padding: 40px 30%;
            background-color: #f2f7fb;
            border-radius: 20px;
            @media(max-width: 992px){
            	padding: 40px 20%;
            }
            @media(max-width: 768px){
            	padding: 20px;
            }
            h3{
            	margin-bottom: 30px;
                font-size: 20px;
                font-family: gpbMtavruli;
                font-weight: 700;
                text-align: center;
            }
            form{
            	div.form_item{
            		margin-bottom: 30px;
            		@media(max-width: 576px){
            		    margin-bottom: 20px;
            		}
            		label{
            			position: absolute;
                        left: 15px;
                        top: 22px;
                        padding: 0 10px;
                        color: #777;
                        font-size: 16px;
                        background-color: #f2f7fb;
                        transition: all .1s ease;
                        cursor: text;
            		}
            	}
            	div.form_item.contact_form_submit{
            		margin-bottom: 0;
            		button.gilaki{
            			color: #fff;
                        font-family: bpgArial;
                        height: 70px;
                        font-size: 16px;
                        background-color: #3b87d3;
            		}
            	}
            }
    	}
    }
}
