div.floating_panel{
    top: 43.70%;
    position: fixed;
    float: left;
    right: 0;
    transform: translateY(-50%);
    background-color: $ccorp;
    border-radius: 5px 0 0 5px;
    box-shadow: 0 0 20px rgba(0,0,0,.05);
    z-index: 1002;
    transition: right .2s;
    @media(max-width: 1024px){
        display: none;
    }
    ul{
    	padding: 15px 12px;
    	li{
    		margin-bottom: 5px;
        &:first-child:hover>a, &:first-child:hover>span {
            background-color: #179e17;
            color: #fff;
            visibility: visible;
            transition: all .2s ease;
            }
        }
    		span{
    			position: absolute;
                height: 30px;
                top: 12%;
                right: 100%;
                transform: translateY(-5px,-50%);
                padding: 0 12px;
                margin-right: 13px;
                color: #fff;
                background-color: #179e17;
                border-radius: 15px;
                visibility: hidden;
    		}
    		a{
    			width: 35px;
                height: 35px;
                color: $ccorp;
                font-size: 13px;
                background-color: #fff;
                border-radius: 50%;
            &:hover{
                background-color: #137dc0;
                color: #fff;
            }
    	}
    }
}