div.photos_wrap{
	display: grid;
	grid-template-columns: 50% 50%;
	background-color: $cwhite;
	border-radius: 5px;
	box-shadow: 0 0 45px rgba($cblack, 0.05);
	overflow: hidden;
	@media(max-width: 768px){
		grid-template-columns: 100%;
	}
	div.photos_list{
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-columns: 1fr;
		padding: 25px;
		@media(max-width: 992px){
			padding: 15px;
		}
		@media(max-width: 768px){
			grid-auto-rows: 130px;
		}
		@media(max-width: 576px){
			grid-gap: 10px;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 100px;
		}
		figure{
			a{
				display: block;
				height: 100%;
				color: $cwhite;
				border-radius: 5px;
				overflow: hidden;
				&:before{
					@extend .flex;
					position: absolute;
					content: "\f35d";
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					font-size: 20px;
					font-family: $ffawesome;
					font-weight: 900;
					transition: all 0.4s ease;
					opacity: 0;
					z-index: 2;
				}
				img{
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					object-fit: cover;
				}
			}
			&.active,
			&:hover{
				a{
					box-shadow: 0px 0px 15px rgba($cblack, 0.6);
				}
			}
			&:hover{
				a{
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}
	div.active_image{
		height: 400px;
		overflow: hidden;
		@media(max-width: 1400px){
			height: 350px;
		}
		@media(max-width: 1200px){
			height: 300px;
		}
		@media(max-width: 992px){
			height: 250px;
		}
		@media(max-width: 768px){
			display: none;
		}
		figure{
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			transform: scale(1.03);
			transition: all .4s linear;
			animation: activeImage .4s;
			opacity: 0;
			z-index: 1;
			&.active{
				opacity: 1;
				z-index: 2;
				transform: translateX(0);
			}
			@keyframes activeImage{
				from{
					transform: translateX(15px);
				}
				to{
					transform: translateX(0);
				}
			}
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				object-fit: cover;
			}
			figcaption{
				position: absolute;
				left: 10%;
				right: 10%;
				bottom: 0;
				@media(max-width: 992px){
					left: 5%;
					right: 5%;
				}
				a{
					display: block;
					padding: 20px;
					color: $cbase;
					font-size: 14px;
					font-family: $ffmain;
					font-weight: 700;
					text-align: center;
					line-height: 1.3;
					background-color: rgba($cwhite, 0.8);
					border-radius: 5px 5px 0 0;
					transition: all 0.4s ease;
					&:hover{
						color: $cwhite;
						background-color: $cbase;
					}
				}
			}
		}
	}
}