div.content{
	div.news_wrap{
		article{
			display: grid;
			grid-gap: 20px;
			grid-template-columns: 1fr 1.8fr;
			margin-bottom: 50px;
			@media(max-width: 1200px){
				margin-bottom: 30px;
			}
			@media(max-width: 768px){
				margin-bottom: 20px;
			}
			@media(max-width: 576px){
				grid-gap: 10px;
				grid-template-columns: 1fr;
				margin-bottom: 25px;
			}
			figure{
				position: relative;
				a{
					display: block;
					img{
						width: 100%;
					}
				}
			}
			div.news_texts{
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 5px 0;
				@media(max-width: 576px){
					margin-left: 0px;
					padding: 0;
				}
				h3.news_title{
					margin-bottom: 5px;
					font-size: 15px;
					font-family: 'gpbNusxuri';
					@media(max-width: 1600px){
						font-size: 13px;
					}
					@media(max-width: 768px){
						margin-bottom: 10px;
						font-size: 12px;
					}
					a{
						display: block;
						color: $cbase;
						&:hover{
							color: $ccorp;
						}
					}
				}
				time{
					margin-bottom: 5px;
					color: $cread;
					font-size: 10px;
				}
				div.news_desc{
					color: $cmain;
					font-size: 14px;
				}
			}
			div.share_more{
				display: flex;
				justify-content: space-between;
				div.share{
					display: flex;
					align-items: center;
					ul{
						@extend .no-list;
						display: flex;
						li{
							margin-right: 5px;
							a{
								@extend .flex;
								width: 25px;
								height: 25px;
								color: $cbase;
								font-size: 10px;
								background-color: rgba($ccorp, 0.05);
								border-radius: 50%;
								&:hover{
									color: $cwhite;
									background-color: $ccorp;
								}
							}
						}
					}
				}
				div.more{
					a{
						@extend .flex;
						height: 35px;
						padding: 0 15px;
						color: $ccorp;
						font-size: 12px;
						border: 1px solid $cline;
						border-radius: 20px;
						&:hover{
							color: $cbase;
							border-color: $cread;
						}
					}
				}
			}
		}
		&:hover{
			figure{
				time{
					background-color: $ccorp;
					span{
						strong,
						em{
							color: $cwhite;
						}
					}
				}
			}
		}
	}
}