nav.tree_menu{
	margin-bottom: 30px;
	> ul{
		@extend .no-list;
		> li{
			margin-bottom: 10px;
            padding-left: 17px;
			> a{
				display: inline-block;
                padding: 7px 15px;
                color: #777;
                font-size: 14px;
                font-family: gpbMtavruli;
                font-weight: 700;
                background-color: #fff;
                border-radius: 20px;
                box-shadow: 0 10px 15px rgba(0,0,0,.1);
                transition: all .4s ease;
			}
			ul{
				@extend .no-list;
				display: none;
				margin-left: 20px;
				li{
					position: relative;
					&:before{
						display: block;
						position: absolute;
						content: "";
						width: 10px;
						height: 1px;
						left: 0;
						top: 15px;
						transition: all 0.4s ease;
						opacity: 0.5;
					}
					a{
						display: block;
						padding: 5px 0;
						color: #777;
						transition: all 0.4s ease;
						> span{
							padding-left: 20px;

						}
					}
					ul{
						margin-left: 20px;
					}
				}
			}
			span.tree_indicator{
				display: block;
                position: absolute;
                width: 15px;
                height: 15px;
                left: 0;
                top: 9px;
                cursor: pointer;
				&:before,
				&:after{
					display: block;
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 1px;
                    left: 0;
                    top: 50%;
                    background-color: #777;
                    transition: all .4s ease;
				}
				&.tree_plus{
					&:before{
						left: -3px;
						transform: rotate(45deg);
					}
					&:after{
						left: 3px;
						transform: rotate(-45deg);
					}
				}
				&.tree_minus{
					&:before{
						left: -3px;
						transform: rotate(-45deg);
					}
					&:after{
						left: 3px;
						transform: rotate(45deg);
					}
				}
			}
			&.active{
				ul{
					display: block;
				}
			}
		}
	}
}