header{
	margin-bottom: 40px;
    padding: 35px 7% 0;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.05);
    z-index: 5;
    @media(max-width: 1024px){
        padding: 20px 7% 0;
    }
    div.header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
        border-bottom: 1px dashed #ccc;
        @media(max-width: 1024px){
            flex-direction: column;
            border-bottom: none;
        }
        div.logo{
            @media(max-width: 1024px){
                flex-direction: column;
                border-bottom: none;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            a{
            	width: 150px;
                margin-right: 30px;
                @media(max-width: 1024px){
                    margin-right: 0;
                }
                @media(max-width: 120px){
                    width: 120px;
                }
                @media(max-width: 350px){
                    width: 100px;
                }
                img{
                	width: 100%;
                }
            }
            h3{
                flex: 1;
                font-size: 20px;
                font-family: gpbMtavruli;
                font-weight: 700;
                @media(max-width: 460px){
                    font-size: 15px;
                }
                @media(max-width: 400px){
                    font-size: 10px;
                }
            }
        }
        div.header_right{
        	display: flex;
            align-items: center;
            div.search{
                @media(max-width: 1024px){
                    display: none;
                }
            	margin-right: 30px;
            	form{
            		input[type="search"]{
            			width: 300px;
                        height: 55px;
                        padding: 0 45px 0 20px;
                        font-size: 14px;
                        border-radius: 8px;
            		}
            		@media (max-width: 1700px){
                        input[type="search"]{
                        	width: 250px;	
                        }
                    }
            		button[type="submit"]{
            			position: absolute;
                        width: 18px;
                        height: 18px;
                        top: 50%;
                        right: 18px;
                        transform: translateY(-50%);
                        cursor: pointer;
                        img{
                        	width: 100%;
                        }
            		}
            	}
            }
            div.audio_version{
            	margin-right: 30px;
            	a{
            		display: flex;
                    align-items: center;
                    color: #026aac;
                    img{
                    	width: 15px;
                        max-width: none;
                        margin-right: 10px;
                        @media(max-width: 900px){
                            margin-right: 5px;
                            width: 12px;
                        }
                    }
                    span{
                    	flex: 1;
                        @media(max-width: 1600px){
                            font-size: 13px;
                        }
                        @media(max-width: 1400px){
                            font-size: 12px;
                        }
                        @media(max-width: 1335px){
                            display: none;
                        }
                        @media(max-width: 1024px){
                            display: block;
                        }
                        @media(max-width: 460px){
                            display: none;
                        }
                    }
            	}
            }
            div.lang{
            	ul{
            		display: grid;
                    grid-gap: 10px;
                    grid-template-columns: 1fr 1fr;
                    margin: auto;
                    li{
                    	a{
                    		width: 40px;
                            height: 40px;
                            color: #777;
                            font-size: 12px;
                            text-transform: uppercase;
                            background-color: #eee;
                            border-radius: 50%;
                            @media(max-width: 1500px){
                                width: 38px;
                                height: 38px;
                            }
                            @media(max-width: 1400px){
                                width: 35px;
                                height: 35px;
                                font-size: 11px;
                            }
                            @media(max-width: 900px){
                                width: 30px;
                                height: 30px;
                                font-size: 9px;
                            }
                    	}
                        a:hover{
                        background-color: #026aac;
                        color: #fff;
                        }
                    }
            	}
            }
        }
    }
}