section.section_top_bar{
	margin-top: -40px;
	padding: 50px 15%;
	div.inside_title{
		h1{
			margin: 15px;
            color: #fff;
            font-size: 30px;
            font-family: gpbMtavruli;
            font-weight: 700;
            text-align: center;
            line-height: 1;
		}
	}
}