aside{
	width: 35%;
    padding: 50px 15% 50px 30px;
    background-color: #f2f7fb;
    @media (max-width: 1600px){
        padding-right: 10%;
    } 
    @media (max-width: 1400px){
        padding: 40px 7% 40px 20px;
    }
    @media (max-width: 1200px){
        width: auto;
        padding: 30px 20px;
    }
    @media (max-width: 992px){
        padding: 30px 15px;
    }
    div.side_banners{
    	margin-bottom: 30px;
    	ul{
    		display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr;
            li{
            	a{
            		display: block;
            		img{
            			width: 100%;
            		}
            	}
            }
    	}
    }
    div.side_widget{
    	margin-bottom: 30px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
        h3.sidebar_title{
        	margin-bottom: 20px;
            color: #026aac;
            font-size: 18px;
            font-family: gpbMtavruli;
            font-weight: 700;
            text-align: center;
            @media (max-width: 1400px) {
                margin-bottom: 10px;
                font-size: 16px; 
            }
        }
        div.sidebar_subscribe{
        	form{
        		div.form_item{
        			input[type="search"]{
        				height: 55px;
                        font-size: 14px;
        			}
        			button[type="submit"]{
        				position: absolute;
                        width: 25px;
                        height: 25px;
                        top: 50%;
                        right: 15px;
                        transform: translateY(-50%);
                        color: #026aac;
                        font-size: 15px;
                        cursor: pointer;
        			}
        		}
        	}
        }
    }
}